
#logo { margin: 40px 0; }

#about { padding: 0 10px; }
#about p { font-size: 16px; }

#main {
	margin-top: 40px;
}

#spot-num {
	margin: auto;
	width: 120px;
}
#spot-num p {
	margin-top: 15px;
	font-size: 26px;
}

.main-panel {
	margin: 40px auto;
	padding: 0 10px;
	max-width: 400px;
	text-align: left;
}

#developer h2 { line-height: 26px; }
#developer p { margin-left: 2em; }


