html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fcfcfe;
}

.navbar {
	position: fixed;
}

#container {
	position: relative;
	padding: 41px 5px 0;
	max-width: 900px;
	margin: auto;
	text-align: left;
}

.box {
	background: #fff;
	border: 1px solid #ccc;
}




/* header ----------------------------*/
#header-wrapper {
	width: 100%;
}

#header {
	margin-top: 20px;
	position: relative;
}

@media screen and (max-width: 640px){
	#header-title h1 {
		font-size: 26px;
		line-height: 30px;
		margin: 0;
	}
	#header-img img {
		width: 75px;
		height: 75px;
	}

	#header-img {
		float: left;
		width: 95px;
	}
	#header-img img{
		padding: 0;
		margin: 10px;
	}
	#header-wrap {
		margin-left: 95px;
		padding: 10px;
	}
}

@media screen and (min-width:640px){
	#header-img img {
		width: 100px;
		height: 100px;
	}
	#header-img {
		float: left;
		width: 140px;
	}
	#header-img img{
		padding: 0;
		margin: 20px;
	}
	#header-wrap {
		margin-left: 140px;
		padding: 20px;
	}
}

#header-title {
	width: 100%;
}

@media screen and (max-width:480px){
	#title-detail {
		margin: 5px 15px;
	}
}
@media screen and (min-width:480px){
	#title-detail {
		margin: 5px;
	}
}

#title-detail span {
	margin-left: .2em;
	margin-right: 1em;
}
#title-detail-url {
	margin-right: 1em;
}




/* frame ----------------------------*/
@media screen and (max-width: 901px){
	#wrapper {
		width: 100%;
		margin-top: 15px;
		position: relative;
	}
	#main-wrapper, #main{
		width: 100%;
	}
}

@media screen and (min-width: 901px){

	#wrapper {
		width: 100%;
		margin-top: 15px;
		position: relative;
	}

	#main-wrapper {
		float: left;
		width: 100%;
		margin-right: -300px;
	}

	#main {
		margin-right: 315px;
	}

	#side {
		float: left;
		width: 300px;
	}
}


/* map ------------------------------*/
#map-wrap {
	width: 300px;
	height: 300px;
	position: relative;
}
#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
#map-wrap i {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 10;
	font-size: 20px;
}

#map-wrap-mini {
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 15px;
}
#map-mini {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
#map-wrap-mini i {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 10;
	font-size: 20px;
}

/* wifi-detail ----------------------*/
#wifi-detail {
	padding: 20px 30px;
}
#wifi-detail i {
	margin-right: .6em;
}
#wifi-detail-table1 {
	float: left;
	width: 260px;
	margin-left: 15px;
}
#wifi-detail-table1 th {
	width: 30px;
	height: 26px;
}
#wifi-detail-table2 {
	float: left;
	width: 240px;
}
#wifi-detail-table2 th {
	width: 50px;
	height: 26px;
	text-align: right;
}
#wifi-detail-table2 td {
	padding-left: 15px;
}


/* description-----------------------*/
#description {
	margin-top: 15px;
	padding: 20px 30px;
}


/* use-------------------------------*/
#use {
	margin-top: 15px;
	padding: 20px;
}
#use h2 {
	font-size: 20px;
}
#use h2 i {
	margin-right: .4em;
}
#use-detail {
	margin-left: 20px;
}
#use ul {
	list-style-type: decimal;
}
#use ul li {
	margin: 5px;
}


/* tips -----------------------------*/
#tips {
	margin-top: 15px;
	padding-top: 15px;
}
#tips h2 {
	margin-left: 20px;
	font-size: 20px;
}
#tips h2 i {
	margin-right: .4em;
}
#tip-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.tip-empty {
	width: 100%;
	height: 40px;
	padding-left: 20px;
}

.tip {
	width: 100%;
	padding: 10px 5px;
	border-top: 1px solid #ccc;
}
.tip img {
	width: 32px;
	height: 32px;
	margin: 10px 15px;
	float: left;
}
.tip-main {
	float: left;
}
.tip-message {
	margin-bottom: 10px;
}
.tip small {
	font-size: 12px;
	color: #999;
	padding-left: .5em;
}



/* tip-form -------------------------*/
#tip-form {
	margin-top: 15px;
	padding: 15px 10px;
}

#tip-form-icon {
	float: left;
	width: 55px;
	margin-left: -100%;
}

#tip-form-icon img {
	width: 32px;
	height: 32px;
	margin: 0 10px;
}

#tip-form-main-wrap {
	float: left;
	width: 100%;
}
#tip-form-main {
	margin-left: 55px;
	margin-right: 0;
	position: relative;
}


#tip-toggle input {
	width: 100%;
}
#tip-name {
	width: 150px;
}
#tip-message {
	width: 100%;
}
#tip-close {
	position: absolute;
	right: 5px;
	top: 0;
}

#tip-submit {
	color: #fff;
	background: #abe314;
	border: 1px solid #87b800;
	text-shadow: none;
}



#wifi-share {
	margin-top: 20px;
	padding: 5px;
	text-align: center;
}
#wifi-share input {
	margin-top: -6px;
}

#wifi-share-mini {
	margin-top: 20px;
	padding: 5px;
	text-align: center;
}
#wifi-share-mini input {
	margin-top: -6px;
}




/* footer ---------------------------*/
#footer {
	text-align: center;
	padding-top: 10px;
	margin: 25px 0;
}

