h1 {
	margin: 35px 0;
}

.container {
	min-width: 640px;
}

#wifi-table caption {
	caption-side: top;
	text-align: right;
}

#wifi-table thead th {
	text-align: center;
}

#wifi-table tbody td {
	height: 60px;
	vertical-align: middle;
}

#wifi-table img {
	width: 50px;
	height: 50px;
	max-width: none;
}

#sum {
	margin: 40px 0;
	font-size: 20px;
}

